body{
    background: linear-gradient(to right,rgb(98, 98, 10),rgb(180, 39, 147),rgb(234, 40, 72),rgb(98, 98, 10));
    height: 100vh;
    width: 80vw;
    display: flex;
}

img{
    height: 70px;
    width: 70x;
    display: flex;

}